.Sfooter{
    width: 100%;
    background-color: #003057;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0 auto;
}

.Smapa{
  flex-direction: column;
  display: flex;

}

.Smapa a:hover{
  color: #00B8D4;
}

.Sfooter div{
    padding-top: 8px;
    padding-bottom: 10px;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.Sfooter img{
    width: 100%;
}

.Sfooter h3 {
  font-weight: 200;
  font-size: 1.75em;
  color: #00B8D4;
  letter-spacing: 1px;
  margin-bottom: 100px;
}

.Smapa a{
  margin: 2px;
}

.Sfooter p{
    margin-top: 10px;
    color: #ffffff;
}

